<!DOCTYPE html>
<html>
<head>
  <title>Vertigo rtm</title>
  <%= stylesheet_link_tag    "vertigo/rtm/application", media: "all" %>
  <%= javascript_include_tag "vertigo/rtm/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
